body {
  box-sizing: border-box;
  margin: 0;
}

.container-box {
  display: flex;
  flex-direction: column;
  font-family: "Roboto Slab", serif;
}

.top-box {
  background-color: #e5f3f2;
  text-align: center; /*fix*/
}

h1 {
  color: #6d6e71;
  display: inline-block;
  font-size: 275%;
  margin-bottom: 30px;
}

.toDo {
  color: #00a79d;
}

input {
  align-items: center;
  display: flex;
  font-family: "Open Sans", sans-serif;
  font-size: 100%;
  justify-content: space-between;
  margin: 2rem auto;
  height: 30px;
  width: 45%;
}

.save-btn {
  background-color: #00a79d;
  color: #fff;
  font-size: 120%;
  height: 30px;
  width: 45.5%;
  margin: 0.5rem auto 0;
}

.save-btn:hover {
  background-color: #045e55;
}

.search-input {
  margin-top: 50px;
}

.card-container {
  margin: auto;
  position: relative;
  width: 45%;
}

.card {
  background-color: #ffffff;
  height: auto;
  margin: auto;
  width: 45%;
}

.title-of-card {
  color: #6d6e71;
  font-family: "Roboto Slab", serif;
  font-size: 140%;
}

.quality {
  color: #939598;
  font-family: "Open Sans", sans-serif;
}

.task-of-card {
  color: #939598;
  font-family: "Open Sans", sans-serif;
  font-size: 100%;
}

button {
  background-color: transparent;
  border: none;
}

.upvote {
  background-image: url(./images/upvote.svg);
  background-size: cover;
  height: 20px;
  margin-right: 5px;
  width: 20px;
}

.upvote:hover {
  background-color: transparent;
  background-image: url(./images/upvote-hover.svg);
}

.downvote {
  background-image: url(./images/downvote.svg);
  background-size: cover;
  height: 20px;
  width: 20px;
}

.downvote:hover {
  background-image: url(./images/downvote-hover.svg);
}

.delete-button {
  background-image: url(./images/delete.svg);
  background-size: cover;
  height: 20px;
  position: absolute;
  right: 10px;
  top: 15px;
  width: 20px;
}

.delete-button:hover {
  background-image: url(./images/delete-hover.svg);
}

@media (max-width: 640px) {
  .card-container {
    width: 85%;
  }

  .search-input {
    border: solid #999 1px;
  }
}
